.container {
  display: flex;
  margin: 40px 24px;
}

.card {
  height: 500px;
  padding: 16px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card p:first-of-type {
  font-weight: bold;
  margin: 8px 0px;
}
